.es_caption {
	padding-bottom:1em;
	padding-right:0.5em;
}
.es_msg {
	padding-top:5px;
	padding-bottom:5px;
	color:#F00;
}
.es_textbox {
	padding-bottom:10px;
}
.es_button {
	padding-top:10px;
	padding-bottom:5px;
}
.es_textbox_class {
	width:200px;
}
.es_textbox_button {
	width:130px;
}
.es_lablebox {
	padding-bottom:3px;
}
/*
     FILE ARCHIVED ON 22:59:27 Jan 19, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:13:32 Jun 07, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 62.966 (3)
  esindex: 0.015
  captures_list: 191.607
  CDXLines.iter: 27.307 (3)
  PetaboxLoader3.datanode: 82.0 (4)
  exclusion.robots: 94.893
  xauthn.chkprivs: 0.099
  exclusion.robots.policy: 94.875
  RedisCDXSource: 2.397
  PetaboxLoader3.resolve: 70.975
  xauthn.identify: 91.131
  load_resource: 122.129
*/