
/*
     FILE ARCHIVED ON 06:55:48 Oct 21, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:41:30 Jun 07, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 80.154 (3)
  esindex: 0.008
  captures_list: 193.507
  CDXLines.iter: 12.8 (3)
  PetaboxLoader3.datanode: 87.637 (5)
  exclusion.robots: 94.427
  xauthn.chkprivs: 0.048
  exclusion.robots.policy: 94.415
  RedisCDXSource: 3.084
  PetaboxLoader3.resolve: 131.518 (3)
  xauthn.identify: 93.982
  load_resource: 283.48
*/