

/*
     FILE ARCHIVED ON 12:16:02 Sep 26, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:55:08 Jun 07, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 79.285 (3)
  esindex: 0.009
  captures_list: 102.208
  CDXLines.iter: 15.992 (3)
  PetaboxLoader3.datanode: 111.626 (4)
  exclusion.robots: 0.422
  exclusion.robots.policy: 0.409
  RedisCDXSource: 3.544
  PetaboxLoader3.resolve: 77.533 (3)
  load_resource: 163.989
*/