
/*
     FILE ARCHIVED ON 07:23:04 Jul 28, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:51:46 Jun 09, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 688.195 (3)
  esindex: 0.01
  captures_list: 892.932
  CDXLines.iter: 16.986 (3)
  PetaboxLoader3.datanode: 253.986 (4)
  exclusion.robots: 171.545
  xauthn.chkprivs: 0.088
  exclusion.robots.policy: 171.526
  RedisCDXSource: 10.934
  PetaboxLoader3.resolve: 557.682 (3)
  xauthn.identify: 170.977
  load_resource: 183.898
*/