

/*
     FILE ARCHIVED ON 04:26:17 Mar 22, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:04:47 Jun 07, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 45.691 (3)
  esindex: 0.008
  captures_list: 196.366
  CDXLines.iter: 14.827 (3)
  PetaboxLoader3.datanode: 83.992 (4)
  exclusion.robots: 131.011
  xauthn.chkprivs: 0.045
  exclusion.robots.policy: 130.997
  RedisCDXSource: 2.367
  PetaboxLoader3.resolve: 58.791
  xauthn.identify: 130.686
  load_resource: 126.314
*/