html{
    height: 100%;
    width: 100%;
}

body {
 margin: 0;  
 padding: 0;  
 border: 0;  
 outline: 0;  
 font-size: 100%;
 vertical-align: baseline;

}
html, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, figcaption, figure,   
footer, header, hgroup, menu, nav, section, summary,  
time, mark, audio, video {  
 margin: 0;  
 padding: 0;  
 border: 0;  
 outline: 0;  
 font-size: 100%;  
 font: inherit;  
 vertical-align: baseline;
 }

body {font-size:14px; line-height:24px;font-weight:400}
body {-webkit-text-size-adjust:none;}
a {text-decoration: none;transition: all 300ms !important;}
a:focus {text-decoration: none; outline: none;}

h2 {font-size:30px; line-height: 36px; font-weight: 400;}
h3 {font-size: 18px; line-height: 28px;font-weight: 400;}
h4 {font-size:16px; line-height: 24px;font-weight: 400;}

strong {font-weight:bold;}
em {font-style:italic;}
small {font-size:16px;}

input, textarea {font-family: inherit;}

.pb_container img {max-width: 100%;}
.pb_boxed #pb_wrapper {
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	padding:0 18px !important;
}

blockquote {border-top:1px #a9a8a8 solid; border-bottom:1px #a9a8a8 solid; padding:10px 0; margin:0; font-size:18px; line-height:22px;}
blockquote cite {display:block; margin-top:20px;}
blockquote p:last-child {margin-bottom:0;}
ol,ul {margin: 16px 0;padding: 0 0 0 20px;}
ul {list-style-type: disc;}
nav ul,nav ol,aside ul,aside ol, .comments_wrapper li, ul.comments_wrapper, .comments_wrapper ol {margin: 0;padding: 0;list-style: none;list-style-image: none;}
li > ul, li > ol {margin: 0;}
dl {margin: 0 20px;}
dt {font-weight: bold;text-decoration:underline}
dd {margin: 0 0 20px;}
abbr[title] {border-bottom: 1px dotted;}
pre,code,tt {-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;font: 0.8em 'Andale Mono', 'Lucida Console', monospace;background: #f2f2f2;border: 1px solid #e6e6e6;color: #888;padding: 2px 4px;}
pre {white-space: pre;word-wrap: break-word;overflow-x: scroll;line-height: 1.3; overflow: hidden;}
table {border-bottom: 1px solid #ededed;border-collapse: collapse;border-spacing: 0;font-size:14px;;line-height: 2;margin: 0 0 20px;width: 100%;}
caption,th,td {font-weight: normal;text-align: left;}
caption {font-size: 16px;margin: 20px 0;}
th {font-weight: bold;}
td {border-top: 1px solid transparent;padding: 6px 10px 6px 0;}
tr.odd {background: #f4f4f4;}
p {margin-bottom:36px;}
input[type="submit"]{transition:background 300ms;-webkit-transition:background 300ms;-moz-transition:background 300ms;-o-transition:background 300ms;-ms-transition:background 300ms;}

.font-weight100 {font-weight:100;}
.font-weight200 {font-weight:200;}
.font-weight300 {font-weight:300;}
.font-weight400 {font-weight:400;}
.font-weight500 {font-weight:500;}
.font-weight600 {font-weight:600;}
.font-weight700 {font-weight:700;}
.font-weight800 {font-weight:800;}
.font-weight900 {font-weight:900;}

.letter-spacing1 {letter-spacing: 1px;}
.letter-spacing2 {letter-spacing: 2px;}
.border-box {-ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.halfwidth {width:50%; display: block;}
.fullwidth {width:100%; display: block;}
.fullmaxwidth {display: block; max-width:100%;}
.list_style {list-style: none;}
.relative {position: relative;}
.margin0 {margin: 0;}
.padding0 {padding: 0;}
.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}
.float_left {float: left !important;}
.float_right {float: right !important;}
.bold {font-weight: 600;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.a-inherit {color: inherit;}
.a-inherit > a {color: inherit;}
.a-inherit li > a {color: inherit;}
.uppercase {text-transform: uppercase;}
.bold_font {font-weight:bold;}
.overflow_ellipsis {text-overflow: ellipsis;display:block;white-space: nowrap;overflow: hidden;}
.div_dis_none {	display:none;}

.vert_align_wrap_system {display: table;}
.vert_align_wrap_system > * {display: table-row;}
.vert_align_wrap_system > * > * {display: table-cell; text-align: center; vertical-align: middle;}
.vert_align_wrap_system > * > * > * {display: inline-block;}

.div_notransition, .div_notransition a {transition: none !important;-webkit-transition: none !important;-moz-transition: none !important;-o-transition: none !important;-ms-transition: none !important;}

.padding-top10 {padding-top: 10px;}
.padding-right12 {padding-right: 12px;}
.padding-bottom24 {
	padding-bottom:24px;
}

/*		separators		*/

.separator {width:100%; height: 1px;}
.small_separator { width:100%; height: 1px;}
.medium_separator { width:100%; height: 4px;}

/*		margins		*/
.margin-bottom5 {margin-bottom:5px !important;}
.margin-top5 {margin-top:5px !important;}
.margin-left5 {margin-left:5px !important;}
.margin-right5 {margin-right:5px !important;}

.margin-bottom10 {margin-bottom:10px !important;}
.margin-top10 {margin-top:10px !important;}
.margin-left10 {margin-left:10px !important;}
.margin-right10 {margin-right:10px !important;}

.margin-bottom15 {margin-bottom:15px !important;}
.margin-top15 {margin-top:15px !important;}
.margin-left15 {margin-left:15px !important;}
.margin-right15 {margin-right:15px !important;}

.margin-bottom20 {margin-bottom:20px !important;}
.margin-top20 {margin-top:20px !important;}
.margin-left20 {margin-left:20px !important;}
.margin-right20 {margin-right:20px !important;}

.margin-bottom30 {margin-bottom:30px !important;}
.margin-top30 {margin-top:30px !important;}
.margin-left30 {margin-left:30px !important;}
.margin-right30 {margin-right:30px !important;}

.margin-bottom40 {margin-bottom:40px !important;}
.margin-top40 {margin-top:40px !important;}
.margin-left40 {margin-left:40px !important;}
.margin-right40 {margin-right:40px !important;}


.margin-bottom36 {margin-bottom:36px !important;}
.margin-top36 {margin-top:36px !important;}
.margin-left36 {margin-left:36px !important;}
.margin-right36 {margin-right:36px !important;}

.margin-bottom24 {margin-bottom:24px !important;}
.margin-top24 {margin-top:24px !important;}
.margin-left24 {margin-left:24px !important;}
.margin-right24 {margin-right:24px !important;}

.margin-bottom18 {margin-bottom:18px !important;}
.margin-top18 {margin-top:18px !important;}
.margin-left18 {margin-left:18px !important;}
.margin-right18 {margin-right:18px !important;}

.margin-bottom12 {margin-bottom:12px !important;}
.margin-top12 {margin-top:12px !important;}
.margin-left12 {margin-left:12px !important;}
.margin-right12 {margin-right:12px !important;}

.margin-bottom9 {margin-bottom:9px !important;}
.margin-top9 {margin-top:9px !important;}
.margin-left9 {margin-left:9px !important;}
.margin-right9 {margin-right:9px !important;}

.margin-bottom6 {margin-bottom:6px !important;}
.margin-top6 {margin-top:6px !important;}
.margin-left6 {margin-left:6px !important;}
.margin-right6 {margin-right:6px !important;}


/*		columns		*/
.pb_container {
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
}
.pb_row:before,
.pb_row:after {
	display: table;
	content: "";
	line-height: 0;
}
.pb_row:after {
	clear: both;
}

.p_container {
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body{
    background: #ffffff !important;
}

#pb_content {
	padding-top:0;
	padding-bottom:0;
    display: block;
    width: 100%;
    overflow: hidden;
}

#pb_content #content{
	width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
    display: block !important;
}

.pb_container,.pb_container_max >*,.pb_maxwidth {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding-left:36px;
    padding-right:36px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}

#pb_page_bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:200px;
	z-index:-999999;
}

#pb_page_bg #bg{
    margin-top: 0px;
	margin-left: 0px;
}


#pb_page_bg iframe, #pb_page_bg video {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: -400px;
	margin-left: -400px;
	z-index:-999;
}

#bg { 
    position: fixed; 
    top: 0; 
    left: 0;
}

.bgwidth { 
    width: 100%; 
}

.bgheight { 
    height: 100%; 
}


@media (max-width:1200px) {
.pb_container,.pb_container_max >*,.pb_maxwidth {
    padding-left:18px;
    padding-right:18px;
}
}

@media (max-width:768px) {
.pb_container,.pb_container_max >*,.pb_maxwidth {
    padding-left:12px;
    padding-right:12px;
}
}

@media (max-width:640px) {
.div_breadcrumbs {
    display:none;
}
}